<nav class="sidebar-nav">
  <a class="nav-link" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="linkClicked.emit()">
    <fa-icon [icon]="homeIcon"></fa-icon>
    <span>Início</span>
  </a>

  <!-- Menu "Cadastro" com submenu: Empresas, Planos e Usuários (área administrativa). -->
  <ng-container *ngIf="isAdmin">
    <button type="button" class="nav-link nav-group-toggle" (click)="toggleCadastro()">
      <fa-icon [icon]="folderIcon"></fa-icon>
      <span>Cadastro</span>
      <fa-icon class="chevron" [class.open]="cadastroOpen()" [icon]="chevronIcon"></fa-icon>
    </button>

    <div class="nav-group" [class.open]="cadastroOpen()">
      <a
        class="nav-link nav-sublink"
        routerLink="/cadastro/empresas"
        routerLinkActive="active"
        (click)="linkClicked.emit()"
      >
        <fa-icon [icon]="buildingIcon"></fa-icon>
        <span>Empresas</span>
      </a>
      <a
        class="nav-link nav-sublink"
        routerLink="/cadastro/planos"
        routerLinkActive="active"
        (click)="linkClicked.emit()"
      >
        <fa-icon [icon]="tagsIcon"></fa-icon>
        <span>Planos</span>
      </a>
      <a
        class="nav-link nav-sublink"
        routerLink="/cadastro/usuarios"
        routerLinkActive="active"
        (click)="linkClicked.emit()"
      >
        <fa-icon [icon]="usersIcon"></fa-icon>
        <span>Usuários</span>
      </a>
    </div>
  </ng-container>

  <a class="nav-link" routerLink="/notas-fiscais" routerLinkActive="active" (click)="linkClicked.emit()">
    <fa-icon [icon]="invoiceIcon"></fa-icon>
    <span>Notas fiscais</span>
  </a>
</nav>
